<!-- <h1>{{changeInterval()}}</h1> -->
<h2>{{counter}}</h2>
<!-- <app-toc-container /> -->
<app-board />
<!-- <app-img (lodaded)="onLoaded($event)" [text]="texto" *ngFor="let imagen of images" [img]="imagen"></app-img>
<app-img text="mamalo"></app-img>
<app-img></app-img> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
